.my_navbar {
  background-color: #49219F;
  width:100%;
  font-size: 20px;
  position: fixed;
  top:0;
  color: white;
  z-index: 2;
}

.nav-menu {
  width: 100%
}

.nav-logo {
  float: left;
  padding-left: 0;
}

.navbar-container {
  margin: 0;
  width:100%;
}

.navbar-toggler {
  float:right;
  margin-top: 18px;
  margin-right:18px;
}

.nav-links {
  float:right;
}

.page-link {
  color: white !important;
  background: none !important;
  border: none;
  margin-right: 14px !important;
  margin-top: 18px !important;
}

.page-link:hover {
  color: #aaa !important;
}

.page-link:active{
  color: #aaa !important;
}

.nav-button {
  color: #49219F !important;
  background-color: white;
  margin-right: 14px !important;
  margin-top: 18px !important;
  border-radius: 3%;
}

.nav-button:hover {
  background-color: #aaa;
}

.nav-item.languageDropdown {
  color: white !important;
  margin-top:18px;
}

.dropdown-toggle {
  color: white !important;
}
